<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">

      <!-- Title -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input 
          type="text"
          id="title"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a title.</div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea 
          id="description"
          name="listing[description]"
          class="form-control"
          required
        ><%= listing.description %></textarea>
        <div class="invalid-feedback">Please enter a description.</div>
      </div>

      <!-- Image -->

      <div class="mb-3">
        Original Listing Image
        <img src="<%=originalImageUrl%>" >
        <div class="invalid-feedback">Please enter a valid image URL.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload Listing Image</label>
        <input 
          type="file"
          
          name="listing[image]"
         
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid image URL.</div>
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input 
          type="number"
          id="price"
          name="listing[price]"
          value="<%= listing.price %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a price.</div>
      </div>

      <!-- Country -->
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input 
          type="text"
          id="country"
          name="listing[country]"
          value="<%= listing.country %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a country.</div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input 
          type="text"
          id="location"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a location.</div>
      </div>

      <!-- Submit -->
      <button type="submit" class="btn btn-primary">Update Listing</button>
    </form>
  </div>
</div>

<!-- Bootstrap validation script -->
<script src="/js/script.js"></script>